<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments::header"></head>
<body>
	<div th:replace="common/fragments::menu"></div>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<div class="container">
		<h1>Verify Page</h1>
		<h3>TODO: Verify integration</h3>
		<input type="button" onclick="window.location.href='verify-success'" value="Submit"/>
	</div>
	<br></br>
	<div class="container" th:replace="common/footer :: common-footer"></div>

</body>
</html>